<footer class="mt-5">
    <div class="quotation pt-5">
        <div class="container">
            <h2 class="text-center pb-3">Contact us today to discuss Citroen C1 racing</h2>
            <div class="row">
                <div class="col col-12 pb-5">
                    <form action="https://formspree.io/admin@majestic-motors.co.uk" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="customer-name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <label for="message">Your message</label>
                            <textarea class="form-control" id="message" name="customer-message" rows="5"></textarea>
                        </div>
                        <input type="hidden" name="_next" value="https://www.majestic-motorsport.co.uk/thanks" />
                        <input type="hidden" name="_subject" value="Storage enquiry" />
                        <button type="submit" class="btn btn-primary"><span class="sr-only">Send</span></button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col col-6 pb-5 text-right">
                    <a href="https://www.facebook.com/majesticmotorsportltd"><img src="/img/facebook-3-64.png" alt="Visit us on Facebook"/></a>
                </div>
                <div class="col col-6 pb-5 text-left">
                    <a href="https://www.instagram.com/majesticmotorsport"><img src="/img/instagram-64.png" alt="Visit us on Instagram"/></a>
                </div>
            </div>
        </div>
    </div>
    <div class="info pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-4">
                    <h3>Get in touch</h3>
                    <p class="mt-2">
                        <em>Tel.</em> <span class="phone-number"><a href="tel:+441926658923">01926 658923</a></span><br/>
                        <em>Email.</em> <span class="email"><a href="mailto:info@majestic-motorsport.co.uk">info@majestic-motorsport.co.uk</a></span>
                    </p>
                </div>
                <div class="col col-12 col-md-4">
                    <h3>Where to find us</h3>
                    <p class="mt-2">Near to <em>Birmingham</em>, Coventry, Warwick, Leamington Spa, <em>Oxford</em>, Banbury, and the <em>Cotswolds</em></p>
                </div>
                <div class="col col-12 col-md-4">
                    <h3>What else do we do?</h3>
                    <p class="mt-2">
                        <a href="https://www.majestic-motors.co.uk">Classic Car Resoration</a><br>
                        <a href="https://www.majesticcarstorage.co.uk">Car &amp; Motorbike Storage</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="tail text-center pt-3 pb-5">
        &copy; BCD Motorsport Limited 2018 | All rights reserved
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>